## Import necessary libraries

In [1]:
import pandas as pd

### Transfer the Imported Data to a Dataframe
After importing the tweets using the Twitter API in the import_tweet.py file, we will read it using a dataframe

In [4]:

tweet_df = pd.read_csv('tweets_data.csv')
tweet_df

,Unnamed: 0,username,description,location,hashtags,text
0,0,AnthologyTheatr,Producing and investing in theatre. Part of th...,"London, England",['last2shows'],Last 2 chances to see @KanYamaKanShow as part ...
1,1,AnthologyTheatr,Producing and investing in theatre. Part of th...,"London, England",[],Today is our last performance of @KanYamaKanSh...
2,2,AlkhaldiShaman,"entertainment lover, I share this love with al...","Riyadh, Kingdom of Saudi Arabi",['RiyadhSeason'],If you want to see all of Saudi Arabia's citie...
3,3,Riyadhm32417378,best massage services in Riyadh full body mass...,Riyadh Saudi Arabia,"['riyadhdating', 'riyadhmassage', 'Riyadhfulls...",https://t.co/A1iiOG4ays\nChart me on what's ap...
4,4,jam88142182,#Massage_Riyadh,Riyadh,"['MassagesRiyadh', 'Riyadhfullservice', 'Riyad...",0533915943\n\nğ˜ğ˜–ğ˜–ğ˜‹ ğ˜”ğ˜ˆğ˜šğ˜šğ˜ˆğ˜ğ˜Œ !!\n\n#MassagesRiya...
...,...,...,...,...,...,...
183,183,khaledkhaledalb,NaN,NaN,[],âœ”ï¸ World-class restaurants \nâœ”ï¸ Live entertain...
184,184,DrAssad,Studied Business Analytics At Brock University...,"Niagara-on-the-Lake, Ontario",[],âœ”ï¸ World-class restaurants \nâœ”ï¸ Live entertain...
185,185,m_alshaikh0,ÙŠØ§ Ø¯Ø§Ø±Ù†Ø§ Ø¨Ø§Ø¨Ùƒ Ø¹Ù† Ø§Ù„Ø°Ù„ Ù…ÙˆØµÙˆØ¯ \nØ²Ù‡Ø± Ø§Ù„ÙØ®Ø± Ù†Ø¨ØªÙƒ Ù‚...,NaN,[],âœ”ï¸ World-class restaurants \nâœ”ï¸ Live entertain...
186,186,VisitSaudiNow,#WelcomeToArabia. The official tourism account...,Saudi Arabia,"['VisitSaudi', 'SaudiEvents', 'RiyadhSeason']",âœ”ï¸ World-class restaurants \nâœ”ï¸ Live entertain...
187,187,AlaziqAlzailaie,Ø´Ø±ÙƒØ© Ø§Ù„Ø¹Ø²Ù‚ ÙˆØ§Ù„Ø²ÙŠÙ„Ø¹ÙŠ Ù…Ø­Ø§Ø³Ø¨ÙˆÙ† Ù‚Ø§Ù†ÙˆÙ†ÙŠÙˆÙ† Ù…ØªØ®ØµØµØ© Ù...,"Riyadh, Jeddah, Dammam, Abha","['saudiarabian', 'cultural', 'entertainment', ...",#saudiarabian authorities signed deal to devel...